Repository fede-bello/latam-challenge: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, detect-secrets

ruff-check:
  name: Ruff Checker
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: uv run ruff format
  language: system

detect-secrets:
  name: Detect Secrets
  entry: uv run detect-secrets-hook --baseline .secrets.baseline
  language: system

feat: add gitignore file
  .gitignore
Due: detect-secrets

fix: Makefile to use uv instead of requirements
  Makefile
Due: detect-secrets

fix: test model relative path
  tests/model/test_model.py
Due: ruff-check, ruff-format, detect-secrets

feat: model preprocessing
  challenge/model.py
Due: ruff-check, ruff-format, detect-secrets

feat: fit method
  challenge/model.py
Due: ruff-check, ruff-format, detect-secrets

chore: xgboost as dev dependency
  pyproject.toml
  uv.lock
Due: detect-secrets

fix: variable error name in notebook
  challenge/exploration.ipynb
Due: none

fix: add ruff dependency
  pyproject.toml
  uv.lock
Due: detect-secrets

feat: add dumping and loading of model
  challenge/model.py
Due: ruff-check, ruff-format, detect-secrets

add files to gitignore
  .gitignore
Due: detect-secrets

feat: predictions
  challenge/model.py
Due: ruff-check, ruff-format, detect-secrets

chore: httpx dependency
  pyproject.toml
  uv.lock
Due: detect-secrets

fix: select top 10 features safely
  challenge/model.py
Due: ruff-check, ruff-format, detect-secrets

fix: predict, do not calculate unnecessary fields
  challenge/model.py
Due: ruff-check, ruff-format, detect-secrets

feat: api prediction
  challenge/api.py
  challenge/schemas.py
Due: ruff-check, ruff-format, detect-secrets

feat: docker files
  .dockerignore
  Dockerfile
Due: detect-secrets

feat: env variables
  .env.example
  .gitignore
Due: detect-secrets

chore: add httpx dependency
  pyproject.toml
  uv.lock
Due: detect-secrets

feat: add api prediction
  challenge/api.py
  challenge/schemas.py
Due: ruff-check, ruff-format, detect-secrets

feat: ci cd workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  workflows/cd.yml
  workflows/ci.yml
Due: detect-secrets

fix: ci cd actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Makefile
Due: detect-secrets

fix: cd workflow
  .github/workflows/cd.yml
Due: detect-secrets

fix: health endpoint
  main.py
Due: ruff-check, ruff-format, detect-secrets

Increase memory allocation from 1Gi to 2Gi
  .github/workflows/cd.yml
Due: detect-secrets

doc: add challenge doc
  docs/challenge.md
Due: detect-secrets

fix: api url in makefile
  Makefile
Due: detect-secrets

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  detect-secrets: any file but: (?x)^(
    \.env.*\.example|
    \.env.*\.sample|
    .*\.ipynb
)$
